@import url("../../../common/view/page/css/AbstractPageView.css");
@import url("../../../common/view/component/input/InputView.css");

.AllTasksPageView--tasks {
    display: table;
}

.AllTasksPageView--taskRow,
.AllTasksPageView--tasksHead,
.AllTasksPageView--tasksNewRow {
    display: table-row;
}

.AllTasksPageView--taskRow:nth-child(even) {
    background-color: #f1ecec;
}

.AllTasksPageView--taskCell,
.AllTasksPageView--taskColumn,
.AllTasksPageView--taskNewRowCell {
    display: table-cell;
}
.AllTasksPageView--taskCell,
.AllTasksPageView--taskColumn {
    padding: 6px 12px;
}

.AllTasksPageView--taskColumn {
    font-weight: bold;
}

.AllTasksPageView--taskColumn {
    border-bottom: 1px solid #ddd;
}